@import "tailwindcss";

:root {
  --ring: 217 152 43;
  --modal-color: #f3f4f5;
  --btn-color: #fe5b3a;
  --background-color: #ecedf1;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background: var(--background-color);
  color: #000000;
}
.tabular {
  font-variant-numeric: tabular-nums;
}
.btn{
  background-color: #fe5b3a;
  font-size: 1.2rem;
  font-weight: 600;
  width: auto;
  padding: 10px 15px;
  border-radius: 7px;
}
